.question {
  flex-grow: 1;
  margin-top: var(--space-lg);
  display: flex;
}
.question__text {
  flex-basis: 75%;
}

@media screen and (max-width: 1256px) {
  .question {
    justify-content: center;
    flex-direction: column;
  }
  .question__text {
    flex-basis: 0;
    text-align: center;
    padding: 0 var(--space-xs);
  }
}

@media screen and (max-width: 768px) {
  .question {
    justify-content: center;
    flex-direction: column;
  }
  .question__text {
    flex-basis: 0;
    text-align: center;
    padding: 0 var(--space-xs);
  }
}
